# Jupyter notebook checkpoints
\.ipynb_checkpoints/

# images
*.jpg

# compressed files
*.tar
*.tgz

# Python binary cache files
__pycache__/
*.pyc

# old copies, dev stuff
archive/

# data files
*.csv
*pstats.txt
*profile_output*.txt

# label data for images
downloads/imagenet_labels\.txt

# TensorFlow models
*.tflite

# PyCharm project
\.idea/
